# 설정 및 환경 파일 (공유가 필요한 yaml은 제외하고 싶다면 아래처럼 구체화 가능)
*.yaml
*.yml
dags/data/*.csv

# 2. 도커 내부 로그 및 일시적 파일
logs/
plugins/
data/
.env
.vscode/
venv/

# 3. 파이썬 캐시
__pycache__/
*.pyc


# 4. 백업 파일 제외 (오타 고려하여 다양하게 추가)
*.yaml.bak
*.yml.bak
*.ymal.back
*.bak